<form method="post" action="/create">
  <div>
    あなたの名前：<input type="text" name="from_name">
  </div>
  <div>
    お相手のお名前：<input type="text" name="to_name">
  </div>
  <div>
    お相手の電話番号：<input type="text" name="tel">
  </div>
  <div>
    告白メッセージ：<textarea name="message"></textarea>
  </div>
  <div>
    <input type="submit" value"告白！">
  </div>
</form>
